---
const { text = "Aceptar", isRounded= false } = Astro.props; //Parte de Javascript
---

<button
    class:list={[
        "text-black",
        "bg-slate-400",
        "border-[1.5px]",
        "border-black",
        "rounded-full",
        "p-3",
        "font-sans",
        "md:font-semibold",
        "m-2",
        "hover:bg-slate-500",
        "transition-colors",
        "focus:outline-none",
        { rounded: isRounded },
    ]}
>
    {text}
</button>
